name: PR - Build, Test, Sonar

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]
  push:
    branches: [ "main" ]

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@0b28c3462aa0a17836c2d1e24e3b8c3e1b9c7b3e # v4
        with:
          dotnet-version: "8.0.x"

      - name: Cache Sonar
        uses: actions/cache@0a91c9f6736e49fd6c26b3b0e8c0e1b3e3e3e3e3e # v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Install SonarScanner for .NET
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Sonar - Begin
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          dotnet-sonarscanner begin
          /k:"diegoknsk_fiap-fase4-auth-lambda"
          /o:"diegoknsk"
          /d:sonar.token="$SONAR_TOKEN"
          /d:sonar.cs.opencover.reportsPaths="**/TestResults/**/coverage.opencover.xml"
          /d:sonar.coverage.exclusions="**/*Program.cs,**/*Startup.cs,**/Migrations/**,**/*Dto.cs"

      - name: Restore
        run: dotnet restore FastFood.Auth.sln

      - name: Build
        run: dotnet build FastFood.Auth.sln -c Release --no-restore

      - name: Test (Unit + BDD) with coverage
        run: >
          dotnet test FastFood.Auth.sln -c Release --no-build
          --logger "trx;LogFileName=test_results.trx"
          /p:CollectCoverage=true
          /p:CoverletOutputFormat="opencover"
          /p:CoverletOutput=./TestResults/coverage/

      - name: Sonar - End
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet-sonarscanner end /d:sonar.token="$SONAR_TOKEN"